body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1F5F5B;
    background-color: #fff;
    font-family: "Open sans", "Trebuchet MS", sans-serif;
  }

  body a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

nav {
    height: 80px;
    background-color: #1F5F5B;
    font-family: "Trebuchet MS", "Open sans";
    padding-right: 20px;
    /*background-color: #3a5171;*/
    
}

.nav-content {
    max-width: 3000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    order: 1;
    height: 80px;
    width: 320px;
    object-fit: contain;
    margin-left: 20px;
}

.logo-mobile {
    display: none;
    order: 1;
    height: 80px;
    width: 320px;
    object-fit: contain;
    margin-left: 20px;
    width: auto;
}

nav ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    order: 3;
    gap: 5%;
}

nav li {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    flex-wrap: wrap;
    list-style: none;
    gap: 10%;
    color: white;
    text-shadow: 1px 1px 2px #062315;
}

nav a:hover {
    color:#159947;
}

nav a {
    height: 80px;
    line-height: 80px;
}

.hamburger-menu {
    display: none;
    order: 4;
}


.opening-hours {
    display: flex;
    justify-content: flex-start;
    /*flex-direction: column; add in media query*/
    width: 300px;
    order: 2;
    font-size: 14px;
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 2px #062315;
    margin-left: 20px;
    margin-right: 20px;
}

.opening-hours p {
    padding-left: 0;
}

.breadcrumbs {
    text-align: center;
    font-size: 0.75rem;
    font-family: arial;
    padding-top: 20px;
    color: #474747;
  }
  
  .breadcrumbs a {
    color: inherit;
    font-style: italic;
  }

/* INDEX.HTML */

header {
    height: 420px;
    position: relative;
    background-color: #000;
    background-image: url(img/header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
   /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/
    max-width: 100%vw;
    margin: auto;
    text-align: center;
   
}

.header-text {
    max-width: 100%;
    height: auto;
    display:inline-block;
    margin: 0 auto;
    
}


.ticket-button {
    max-width: 300px;
    background-color: #159947;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 0;
    border-radius: 0 0 6px 6px;
    padding: 20px;
    box-shadow: 0 8px 6px -6px black;
}

.ticket-button a {
    display: block;
}

.ticket-button:hover {
    background-color: #1cbd59;
}

main {
    max-width: 1224px;
    background-color: white; /*Fallback color*/
    margin: auto;
    padding-bottom: 1%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-image: url(img/main-background-img.jpg);
}

main h1 {
    text-align: center;  
}

.introduction h3 {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 18px;
}


.intro {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h4.intro {
    max-width: 800px;
    margin-bottom: 30px;
    font-weight: 600;
}

.introlongtext {
    display: flex;
    justify-content: center;
}

.intro2 {
    text-align: right;
    padding: 0 20px 0 20px;
    max-width: 450px;
    margin: 0;
}

.vertical-line {
    height: 130px;
    border-left: 1px solid black;
}

.intro3 {
    padding: 0 20px 0 20px;
    max-width: 450px;
    margin: 0;
}

.main-content {
    padding-left: 7%;
    padding-right: 7%;
    
} 

.section-headings {
    font-size: 24px;
    margin-top: 50px;
}

.exhibition-containers {
   max-width: 1101px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   flex-wrap: wrap;
   margin: 0 auto;
}

/*.ex-con1 .ex-con2 .ex-con3 .ex-con4 {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}*/

/*.ex-con1 .ex-con2 .ex-con3 .ex-con4, img {
    width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}*/

.ex-con1 img {
    max-width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.ex-con2 img {
    max-width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.ex-con3 img {
    max-width: 500px;
    min-width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.ex-con4 img {
    max-width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}



.ex-label {
    background-color: #06373A;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 20px;
    box-shadow: 0 8px 6px -6px grey;
}


.see-all-button {
    width: 250px;
    background-color: #49B265;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 0px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 8px 6px -6px black;
}

.see-all-button:hover {
    background-color: #06373A;
}

.see-all-button a {
    color: inherit;
    display: block;
}

.informational-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 50px;
}

.informational-containers h4 {
    text-align: center;
    background-color: #1F5F5B;
    color: white;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 6px 6px 0 0;
}


.program-container, .openinghours-container, .info-container {
    min-height: 410px;
    width: 250px;
    box-shadow: 0 8px 6px -1px grey;
    background-color: #F0ECEC;
    border-radius: 6px;
}
.program-container h5 {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.program-container p {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 25px;
}

.event {
    display: flex;
}

.date {
    background-color: #49B265;
    width: 50px;
    height: 55px;
    flex-shrink: 0;
    margin-left: 8px;
    text-align: center;
    padding: 8px;
    color: #fff;
    border: 1px solid #06373A;
}

.date h5 {
    font-size: 30px;
}

.date p {
    font-size: 14px;
    line-height: 15px;
}

.about-event h5 {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 600;
}

.about-event p {
    font-size: 14px;
}
.openinghours-container ul {
    list-style: none;
    padding: 5%;
    margin: 0;
}

.openinghours-container li {
    padding-bottom: 10px;
}

.info-container h5 {
    margin: 0;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.info-container p {
    padding: 2px 10px 10px 10px;
    font-size: 14px;
    margin: 0;
    line-height: 25px;
}


.explore h3 {
    margin-top: 50px;
}

.explore-containers {
    max-width: 1101px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.explore-kids img {
    width: 500px;
    height: 250px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.explore-teachers img {
    width: 500px;
    height: 250px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

/* EXHIBITIONS.HTML*/

.exhibitions-grid {
    background-color: rgba(255,255,255, 0.8);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 140px 140px;
    gap: 10px;
    margin-top: 30px;
    border-radius: 6px 6px 0 0;
}

.exhibitions-grid img {
    height: 350px;
    width: 245px;
    border-radius: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    object-fit: cover;
    border-radius: 6px 0 0 0;
}

.exhibitions-grid h2 {
    grid-column: 2 / 5;
    grid-row: 1;
    margin-top: 10px;
    letter-spacing: 10px;
    text-align: center;
    width: 100%;
}

.exhibitions-grid .p-one {
    grid-column: 2 / 5;
    grid-row: 2;
    padding-right: 15px;
    line-height: 25px;
    margin-top: 0;
}

.exhibitions-grid .p-two {
    grid-column: 2 / 5;
    grid-row: 3;
    padding-right: 15px;
    line-height: 25px;
    margin-top: 0;
}

.enter-button {
    width: 150px;
    background-color: #1F5F5B;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    margin-left: auto; 
    margin-right: 0;
    border-radius: 0 0 6px 6px;
    padding: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.enter-button a {
    color: inherit;
    display: block;
}

.enter-button:hover {
    background-color: #297A75;
}

.backtotop {
    width: 100px;
    margin: auto;
    text-align: center;
    color:#000;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 14px;
  }
  
  .backtotop a {
    color: inherit;
  }

  .backtotop:hover {
    color: #159947;
    
  }


  /*    EXPLORE PAGE    */

  .explore-grid {
    background-color: rgba(255,255,255, 0.8);
    display: grid;
    grid-template-columns: 214px 214px 624px;
    grid-template-rows: 50px 50px 160px 125px 125px;
    gap: 0px;
    margin-top: 30px;
    /*border: 1px solid black;*/
    box-shadow: 0 8px 6px -6px black;
    border-radius: 6px 6px 0 0;
  }

  .exp-img-one {
    height: 262px;
    width: 428px;
    border-radius: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    object-fit: cover;
    border-radius: 6px 0 0 0;
  }

  .exp-img-two {
    height: 250px;
    width: 214px;
    border-radius: 0;
    grid-column: 1;
    grid-row: 4;
    object-fit: cover;
  }

  .exp-img-three {
    height: 250px;
    width: 214px;
    border-radius: 0;
    grid-column: 2;
    grid-row: 4;
    object-fit: cover;
  }

  .explore-grid h2 {
    grid-column: 3 / 6;
    grid-row: 1;
    margin: 0;
    letter-spacing: 5px;
    background-color: #06373A;
    color: #fff;
    padding: 0px 0 0 10px;
    display: grid;
    align-items: center;
    border-radius: 0 6px 0 0;
  }

  .exp-p-one {
    grid-column: 3 / 6;
    grid-row: 2;
    font-weight: 600;
  }

  .exp-p-two {
    grid-column: 3 / 6;
    grid-row: 3;
    line-height: 25px;
    margin-top: 0;
  }

  .exp-p-three {
    grid-column: 3 / 6;
    grid-row: 4;
    line-height: 25px;
    margin: 0;
  }

  .exp-p-four {
    grid-column: 3 / 6;
    grid-row: 5;
    line-height: 25px;
    margin: 0;
  }

  p.exp-p-one, p.exp-p-two, p.exp-p-three, p.exp-p-four {
    padding: 0 10px 0 10px;
  }

  p.exp-p-three {
    margin-top: 0;
  }


  /*     INFO PAGE     */

  .info-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .informational-container {
    width: 300px;
    height: auto;
    background-color: rgba(255,255,255, 0.8);
    padding-bottom: 10px;
    border-radius: 6px 6px 0 0;
  }

  .informational-container img {
    width: 300px;
    object-fit: cover;
  }

  .informational-container h4{
    background-color: #06373A;
    height: 38px;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0 0;
  }

  .location-map {
    height: 230px;
  }

  .bold-centered-p {
    font-weight: 600;
    text-align: center;
  }

  .centered-p {
    text-align: center;
    margin: 2px 10px 2px 10px;
  }

  .admission-img {
    height: 130px;
  }

  .schedule {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }

  .days {
    margin-left: 25px;
  }

  .time {
    margin-right: 25px;
  }

  .accessibility-img {
    height: 200px;
    object-position: left bottom;
  }


/*       CONTACT PAGE       */
.contact-main {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.8);
    justify-content: center;
    border-radius: 6px;
    max-width: 800px;
    margin: auto;
}

.contact-main h2 {
    margin: auto;
    margin-top: 20px;
}

.phone-email {
    max-width: auto;
    text-align: center;
    background-color: #1F5F5B;
    color: #fff;
    padding: 50px;
}

.phone-email p {
    margin-bottom: 0;
}

fieldset {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  fieldset input {
    border-radius: 7px;
  }
  
  fieldset ul {
    padding: 0;
  }
  
  input[type] {
    width: 100%;
    padding: 12px 12px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
  }

  select[id] {
    padding: 12px 12px;
    border-radius: 7px;
    margin: 5px 0 10px 0;
    width: 100%;
  }

  label[for] {
    width: 100%;
    display: inline-block;
    
  }
  textarea[name] {
    width: 100%;
    min-height: 200px;
    max-width: 700px;
    border-radius: 7px;
  }

  button.send {
    padding: 15px;
    width: 100px;
    background-color: #159947;
    color: #fff;
    border-radius: 6px;
    float: right;
    box-shadow: 0 8px 6px -6px black;
    border: none;
  }

  button.send:hover {
    background-color: #06373A;
    cursor: pointer;
  }




  /*           GET INVOLVED PAGE         */
  .get-involved-main {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    border-radius: 6px 6px 0 0;
  }

  .get-involved-main img {
    max-width: 350px;
    min-width: 350px;
    height: 285px;
    float: left;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 6px 0 0 0;
  }

  .get-involved-main h3 {
    padding-top: 10px;
  }

  .get-involved-main p {
    padding-right: 20px;
    line-height: 25px;
  }


  /*    PALEONTOLOGY         */

  .pal-con-1 {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    display: flex;
    margin-bottom: 30px;
  }

  .pal-con-1 img {
    width: 450px;
    min-width: 450px;
    height: 300px;
    object-fit: cover;
  }

  .pal-con-1 p {
    padding: 20px;
    align-self: center;
    line-height: 25px;
  }

  .pal-con-2 {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .pal-con-2 img {
    width: 450px;
    min-width: 450px;
    height: 300px;  
    object-fit: cover;
  }

  .pal-con-2 p {
    padding: 20px;
    align-self: center;
    line-height: 25px;
    text-align: right;
  }

  .back-to-exhibitions-button {
    width: 150px;
    background-color: #1F5F5B;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    margin: auto;
    border-radius: 0 0 6px 6px;
    padding: 10px;
    margin-top: -30px;
    box-shadow: 0 8px 6px -6px black;
  }

  .back-to-exhibitions-button a {
    display: block;
  }



  /*            TICKET PAGE            */


 .ticket-p {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
 }

 .ticket-main {
    max-width: 1000px;
    min-height: 450px;
    margin: auto;
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    box-shadow: 0 8px 6px -6px grey;
    border-radius: 6px 6px 0 0;
 }

 .ticket-main h3 {
    padding-left: 20px;
 }

 .ticket-main img {
    max-width: 370px;
    padding-left: 20px;
 }

 .choose-day, .choose-tickets {
    width: 50%;
    position: relative;
 }

.choose-tickets p {
    padding-left: 10px;
}

.kids-youth, .adults, .groups {
    display: flex;
    flex-direction: row;
}

.reserve-button {
    width: 250px;
    background-color: #49B265;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 0px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 8px 6px -6px black;
    position:absolute;
    bottom: 20px;
    right: 20px;
}
/* FOOTER */

footer {
    height: 300px;
    background-color: #062315;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        
      }
      
      .footer-content {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 70%;
        padding: 0;
        margin: 0;
        position: relative;
        max-width: 3000px;
        margin: auto;
      }
      footer li {
        display: block;
        font-size: 16px;
      }
      
      footer p {
        margin-bottom: 5px;
        font-size: 14px;
      }
      
      footer .fcenter img {
        margin-right: 6px;
        margin-left: 6px;
      }
      
      .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      footer .socials img {
        width: 32px;
        height: 32px;
      }

      
      .fleft {
        width: 300px;
      }

      .fleft img{
        width: 170px;
        height: 92px;
        object-fit: cover;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        
        
      }
      .fleft p {
        width: 200px;
        text-align: left;
        padding: 0;
      }

      .address {
        font-size: 14px;
      }
      
      .fcenter {
        width: 400px;
        text-align: center;
      }

      .fcenter p {
        margin: 0;
      }
      
      .fright {
        text-align: right;
        float: right;
        width: 300px;
        line-height: 26px;
      }
      
      .fright a {
        color: inherit;
        font-size: 14px;
      }
      
      .fright li:hover {
        color: #49B265;
      }
      


      /* MEDIA QUERY */


      @media screen and (max-width: 1188px) {
        .exhibition-containers {
            justify-content: center;
        }

        .section-headings {
            text-align: center;
        }

        .explore-containers {
            justify-content: center;
        }

        .opening-hours {
            display: none;
        }

        nav img {
            padding-right: 20px;
        }
      }
 
      @media screen and (min-width: 0px) and (max-width: 889px) {
        
        .logo-desktop {
            display: none;
        }
        .logo-mobile {
            display: block;
            padding: 0;
            margin-left: 0;
        }
        .introlongtext {
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 100%;
        }

        p.intro2 {
            max-width: 100%;
            margin: auto;
            text-align: center;
        }

        p.intro3 {
            max-width: 100%;
            margin: auto;
            text-align: center;
            padding-top: 20px;
        }
        .vertical-line {
            display: none;
        }
        footer {
            height: auto;
        }
        .footer-content {
            display: flex;
            flex-direction: column;
        }

    
        .fright {
            width: 100vw;
            background-color: #1F5F5B;
            text-align: center;
        }
        .fleft img {
            float: none;
        }

        .fleft p {
            text-align: center;
            width: auto;
        }

        .fright ul {
            padding: 0;
        }

        .fcenter {
            width: auto;
            padding: 20px;
            order: 3;
        }

      }

      @media screen and (min-width: 0px) and (max-width: 582px) {

        .opening-hours {
            display: flex;
            gap: 10px;
        }

        .hamburger-menu {
            display: block;
        }

        header {
            height: auto;
        }

        nav ul {
            display: none;
        }
       
        .ex-con1 img {
            width: 300px;
            height: 200px;
        }
        .ex-con2 img {
            width: 300px;
            height: 200px;
        }
        .ex-con3 img {
            width: 300px;
            min-width: 0;
            height: 200px;
        }
        .ex-con4 img {
            width: 300px;
            height: 200px;
        }

        .explore-kids img {
            width: 300px;
            height: 200px;
        }

        .explore-teachers img {
            width: 300px;
            height: 200px;
        }

      
    
      }
      
/* Header img: Photo by Romain Tordo on Unsplash
background opacity https://stackoverflow.com/
CSS grids MDN
*/