/*
 || 1. Sitewide, body and main.
 ||     1.1 Top bar / Nav bar
        1.2 Footer
 || 2. All button styling
 || 3. Index.html
 || 4. Exhibitions.html
 || 5. Explore.html
 || 6. Info.html
 || 7. Contact.html
 || 8. Getinvolved.html
 || 9. Paleontology.html
 || 10. Tickets.html
 || 11. Media Query
*/

/* || 1.  SITEWIDE  BODY AND MAIN */

:root {
    --btn-bg-green: #008937;
    --hover-btn-bg-green: #159947;
    --text-white: #fff;
    --bg-nav-green-blue: #1F5F5B;
    --heading-bg-dark-blue-green: #06373A;
    --bg-light-grey: #F0ECEC;
    --hover-link: #159947;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: "Open sans", "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    padding: 0;
}

.breadcrumbs {
    text-align: center;
    font-size: 0.75rem;
    font-family: arial;
    padding-top: 20px;
    color: #474747;
}
  
.breadcrumbs a {
    font-style: italic;
}

main {
    max-width: 1224px;
    background-color: white; /*Fallback color*/
    margin: auto;
    padding-bottom: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-image: url(img/main-background-img.jpg);
    background-position: center top;
}

main h1 {
    text-align: center;  
}

.main-content {
    padding-left: 7%;
    padding-right: 7%;
    
}

.introduction {
    padding-bottom: 2%;
}

.index-intro {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.intro1  {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.section-headings {
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: rgba(6,55,58, 0.6);
    color: var(--text-white);
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

.backtotop {
    width: 100px;
    margin: auto;
    text-align: center;
    color:#000;
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 14px;
}

.backtotop:hover {
    color: var(--hover-link);  
}


/* || 1.1 TOP BAR / NAV BAR   */

nav {
    height: 80px;
    background-color: var(--bg-nav-green-blue);
    font-family: "Trebuchet MS", "Open sans";
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.nav-content {
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px 0 20px;
}
nav img {
    order: 1;
    height: 80px;
    width: 320px;
    object-fit: contain;
}

.logo-mobile {
    display: none;
    order: 1;
    height: 80px;
    width: 320px;
    object-fit: contain;
    margin-left: 20px;
    width: auto;
}

nav ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 0 0 0 10px;
    order: 3;
    gap: 5%;
}

nav li {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    flex-wrap: wrap;
    list-style: none;
    gap: 10%;
    color: var(--text-white);
    text-shadow: 1px 1px 2px #062315;
}

nav a:hover {
    color:var(--hover-link);
}

nav a, .active {
    height: 80px;
    line-height: 80px;
}

.active {
    text-decoration: line-through;
}

.hamburger-menu ul, 
#menu-checkbox, .fas.fa-bars {
    display: none;
}

label p {
    display: none;
}

.hamburger-menu ul{
    position: absolute;
    width: 100vw;
    height: auto;
    top: 80px;
    z-index: 2000;
    background-color: var(--bg-nav-green-blue);
    box-shadow: 0 4px 2px 1px #6662625e;
    margin: 0;
}

.hamburger-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    line-height: normal;
    height: 30px;
    align-self: center;
}

.hamburger-menu li {
    height: 30px;
    padding: 10px;
}

.hamburger-menu li:first-child {
    background-color: var(--btn-bg-green);
}

#menu-checkbox:checked~.hamburger-menu ul {
    display: block;
}

.opening-hours {
    display: flex;
    justify-content: center;
    width: 300px;
    order: 2;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px #062315;
    margin-left: 20px;
    margin-right: 20px;
}

.opening-hours p {
    padding-left: 0;
}


/* || 1.2 FOOTER */

footer {
    height: 300px;
    background-color: #062315;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: var(--text-white);
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
        
}
      
.footer-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 1500px;
    margin: auto;
}

footer li {
    display: block;
    font-size: 16px;
}
      
footer p {
    margin-bottom: 5px;
    font-size: 16px;
}
      
footer .fcenter img {
    margin-right: 6px;
    margin-left: 6px;
}
      
.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer .socials img {
    width: 32px;
    height: 32px;
}

      
.fleft {
    width: 200px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.fleft img{
    width: 170px;
    height: 92px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fleft p {
    width: 200px;
    text-align: left;
    padding: 0;
}
      
.fcenter {
    text-align: center;
}

.fcenter p {
    margin: 0;
}
      
.fright {
    text-align: right;
    line-height: 26px;
    padding-right: 10%;
    width: 200px;
}
      
.fright a {
    color: inherit;
}
      
.fright li:hover {
    color: var(--hover-link);
}


/* || 2. ALL BUTTONS STYLING  (not add-subtrackt button on tickets page */

.btn {
    background-color: var(--btn-bg-green);
    color: var(--text-white);
    text-align: center;
    margin: auto;
    box-shadow: 0 8px 6px -6px black;
}

.btn:hover {
    background-color: var(--hover-btn-bg-green);
}

/* || 2.1 a styling several buttons */
.ticket-button a, .see-all-button a, .enter-button a, .back-to-exhibitions-button a {
    display: block;
}

/* || 2.2 Book tickets button, on most pages */
.ticket-button {
    max-width: 300px;
    font-size: 20px;
    margin-top: 0;
    padding: 20px;
    border-radius: 0 0 6px 6px;
    /*position: sticky;
    top: 0px;*/
}

/* || 2.3 index.html: See all exhibitions button */
.see-all-button {
    width: 250px;
    font-size: 18px;
    margin-top: 0px;
    border-radius: 6px;
    padding: 15px;
}

/* || 2.4 Exhibitions.html: Enter exhibition */
.enter-button {
    width: 150px;
    background-color: var(--bg-nav-green-blue);
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    margin-left: auto; 
    margin-right: 0;
    border-radius: 0 0 6px 6px;
    padding: 10px;
    box-shadow: 0 8px 6px -6px black;
}
.enter-button:hover {
    background-color: var(--hover-btn-bg-green);
}

/* || 2.5 Paleontolohy.html: back to exhibitions button */
.back-to-exhibitions-button {
    width: 150px;
    background-color: var(--bg-nav-green-blue);
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    margin: auto;
    border-radius: 0 0 6px 6px;
    padding: 10px;
    margin-top: -30px;
    box-shadow: 0 8px 6px -6px black;
  }
.back-to-exhibitions-button:hover {
    background-color: var(--hover-btn-bg-green);
  }

/* || 2.6 Tickets.html: Reserve tickets button */
.reserve-button {
    display: block;
    width: 250px;
    background-color: var(--btn-bg-green);
    color: var(--text-white);
    text-align: center;
    font-size: 18px;
    margin: 30px auto;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 8px 6px -6px black;
    border: none;
    cursor: pointer;
}
.reserve-button:hover {
    background-color: var(--hover-btn-bg-green);
}

/* || 2.7 Contact.html: Send form button */
.send-button {
    padding: 15px;
    width: 100px;
    border-radius: 6px;
    float: right;
    border: none;
    cursor: pointer;
}


/* || 3. INDEX.HTML */

header {
    height: 420px;
    /*position: relative;*/
    background-color: #000;
    background-image: url(img/header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%vw;
    margin: auto;
    text-align: center;  
}

.header-text {
    max-width: 100%;
    height: auto;
    display:inline-block;
    margin: 0 auto;
    
}

.introlongtext {
    display: flex;
    justify-content: center;
}

.intro2, .intro3 { 
    padding: 0 20px 0 20px;
    max-width: 450px;
    margin: 0;
}

.intro2 {
    text-align: right;
}

.vertical-line {
    height: 130px;
    border-left: 1px solid black;
}

.exhibitions, .quick-information {
    padding-bottom: 2%;
}

.exhibition-containers {
   max-width: 1101px;
   display: flex;
   justify-content: space-around;
   gap: 10px;
   flex-wrap: wrap;
   margin: 0 auto;
}

.exh-con img, .exp-con img {
    width: 500px;
    height: 294px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.exh-con:hover, .exp-con:hover {
    opacity: 90%;
}

.ex-label {
    background-color: var(--heading-bg-dark-blue-green);
    height: 50px;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 20px;
    box-shadow: 0 8px 6px -6px grey;
}

.informational-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 1%;
    padding-left: 1%;
}

.informational-containers h4 {
    text-align: center;
    background-color: var(--heading-bg-dark-blue-green);
    color: white;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 6px 6px 0 0;
}

.program-container, .openinghours-container, .info-container {
    height: auto;
    width: 250px;
    box-shadow: 0 8px 6px -1px grey;
    background-color: var(--bg-light-grey);
    border-radius: 6px;
}
.program-container h5 {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.program-container p {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 25px;
}

.event {
    display: flex;
}

.date {
    background-color: var(--heading-bg-dark-blue-green);
    width: 50px;
    height: 55px;
    flex-shrink: 0;
    margin-left: 8px;
    text-align: center;
    padding: 8px;
    color: var(--text-white);
    border: 1px solid black;
}

.date h5 {
    font-size: 30px;
}

.date p {
    font-size: 14px;
    line-height: 15px;
}

.about-event h5 {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 600;
}

.about-event p {
    font-size: 14px;
}
.openinghours-container ul {
    list-style: none;
    padding: 5%;
    margin: 0;
}

.openinghours-container li {
    padding-bottom: 10px;
}

.info-container h5 {
    margin: 0;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    text-align: center;
}

.info-container p {
    padding: 2px 10px 10px 10px;
    font-size: 14px;
    margin: 0;
    line-height: 25px;
}

.explore h3 {
    margin-top: 50px;
}

.explore-containers {
    max-width: 1101px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.explore-kids img, .explore-teachers img {
    width: 500px;
    height: 250px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}


/* || 4. EXHIBITIONS.HTML */

.page-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 700px;
    margin: auto;
    font-style: italic;
}

.page-navigation p {
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.exhibitions-grid {
    background-color: rgba(255,255,255, 0.8);
    display: grid;
    height: auto;
    grid-template-columns: minmax(245px, auto);
    grid-template-rows: 50px minmax(140px, auto) 140px;
    gap: 10px;
    margin-top: 30px;
    border-radius: 6px 6px 0 0;
}

.exhibitions-grid img {
    height: 350px;
    width: 245px;
    border-radius: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    object-fit: cover;
    border-radius: 6px 0 0 0;
}

.exhibitions-grid h2 {
    grid-column: 2 / 5;
    grid-row: 1;
    margin: 0;
    letter-spacing: 10px;
    text-align: center;
    align-self: center;
    width: 100%;
}

.exhibitions-grid .p-one {
    grid-column: 2 / 5;
    grid-row: 2;
    padding: 0 15px 15px 15px;
    line-height: 25px;
    margin: 0;
    align-self: center;
}

.exhibitions-grid .p-two {
    grid-column: 2 / 5;
    grid-row: 3;
    padding: 15px;
    line-height: 25px;
    margin: 0;
    align-self: center;
}


/* || 5. EXPLORE.HTML */

.explore-page-container {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.explore-page-container img {
    width: 100%;
    min-width: 250px;
    height: 285px;
    float: left;
    object-fit: cover;
    object-position: 0 50%;
    border-radius: 6px 6px 0 0;
}

.explore-page-container h3 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.7rem;
}

.explore-page-container p {
    padding: 0 20px 20px 20px;
    line-height: 25px;
    margin: 0;
}

.explore-page-container a {
    color: blue;
}


/* || 6. INFO.HTML */

.info-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
 }

.informational-container {
    width: 300px;
    min-width: 300px;
    height: auto;
    background-color: rgba(255,255,255, 0.8);
    padding-bottom: 10px;
    border-radius: 6px 6px 0 0;
}

.informational-container img {
    width: 300px;
    object-fit: cover;
}

.informational-container h4{
    background-color: var(--heading-bg-dark-blue-green);
    height: 38px;
    color: var(--text-white);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0 0;
}

.location-map {
    height: 230px;
}

.bold-centered-p {
    font-weight: 600;
    text-align: center;
}

.centered-p {
    text-align: center;
    margin: 2px 10px 2px 10px;
}

.admission-img, .opening-hours-img {
    height: 130px;
}

.schedule {
    display: flex;
    justify-content: space-around;
}

.days {
    margin-left: 20px;
}

.time {
    margin-right: 20px;
}

.days p:first-child, .time p:first-child {
    margin-top: 0;
}

.accessibility-img {
    height: 200px;
    object-position: left bottom;
}


/* || 7. CONTACT.HTML */

.contact-main {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.8);
    justify-content: center;
    border-radius: 6px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.contact-main h2 {
    margin: auto;
    margin-top: 20px;
}

.phone-email {
    max-width: auto;
    text-align: center;
    background-color: var(--bg-nav-green-blue);
    color: var(--text-white);
    padding: 50px;
    border-radius: 6px;
}

.phone-email p {
    margin-bottom: 0;
}

fieldset {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
  
fieldset input {
    border-radius: 7px;
}
  
input[type] {
    width: 100%;
    padding: 12px 12px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
}

select[id] {
    padding: 12px 12px;
    border-radius: 7px;
    margin: 5px 0 10px 0;
    width: 100%;
}

label[for] {
    width: 100%;
    display: inline-block;    
}

textarea[name] {
    width: 100%;
    min-height: 200px;
    max-width: 695px;
    border-radius: 7px;
    padding: 7px;
    font-size: 16px;
}


/* || 8. GETINVOLVED.HTML */

.get-involved-main {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    border-radius: 6px 6px 0 0;
}

.get-involved-main img {
    max-width: 350px;
    min-width: 350px;
    height: 285px;
    float: left;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 6px 0 0 0;
}

.get-involved-main h3 {
    padding-top: 10px;
    padding-left: 20px;
}

.get-involved-main p {
    padding: 0 20px 20px 20px;
    line-height: 25px;
    margin: 0;
}


/* || 9. PALEONTOLOGY.HTML */

.pal-con-1, .pal-con-2 {
    max-width: 1000px;
    min-height: 285px;
    background-color: rgba(255,255,255, 0.8);
    margin: auto;
    box-shadow: 0 8px 6px -6px grey;
    display: flex;
    margin-bottom: 30px;
}

.pal-con-1 img, .pal-con-2 img {
    width: 450px;
    min-width: 450px;
    height: 300px;
    object-fit: cover;
}

.pal-con-1 p, .pal-con-2 p {
    padding: 20px;
    align-self: center;
    line-height: 25px;
    margin: 0;
}

.pal-con-2 {
    flex-direction: row-reverse;
}

.pal-con-2 p {
    text-align: right;
}


/* || 10. TICKETS.HTML */

.ticket-p {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.ticket-main {
    max-width: 1000px;
    min-height: 400px;
    margin: auto;
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px grey;
    border-radius: 6px 6px 0 0;
}

.ticket-main .section-headings {
    margin: 20px;
}

.ticket-main h3 {
    padding-left: 20px;
}

.choose-day label {
    max-width: fit-content;
    padding: 0 20px;
}

.choose-day {
    display: flex;
    flex-direction: column;
}

input[type=date] {
    max-width: fit-content;
    margin-left: 20px;
}

.choose-arrangement legend {
    padding: 0 20px 0 20px;
    font-style: italic;
}

.choose-arrangement label {
    font-weight: 600;
    padding-right: 20px;
}

.ticket-type-checkbox input[type] {
    width: fit-content;
}

.ticket-type-checkbox{
    display: flex;
    align-items: baseline;
    padding-left: 20px;
    gap: 5px;
    margin-top: 10px;
}

.number-type {
    display: flex;
}

.add-subtrackt-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px
}

.add-subtrackt-button button {
    height: 40px;
    width: 30px;
    background-color: var(--btn-bg-green);
    color: var(--text-white);
}

.add-subtrackt-button .number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 40px;
    width: auto;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0 10px;
}

.plus {
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

.minus {
    border-radius: 10px 0 0 10px;
}

.user-information {
    padding: 0 20px 0 20px;
}

/* 
Button add or subtract inspo:
https://www.youtube.com/watch?v=07MslbPos4U
*/


/* || 11. MEDIA QUERY */


    @media screen and (max-width: 1188px) {

        .section-headings {
            margin: 20px auto;
        }

        .explore-containers {
            justify-content: center;
        }
        .excon1 img {
            width:auto;
        }

        .opening-hours {
            display: none;
        }

        nav img {
            padding-right: 20px;
        }
        .exhibitions-grid  {
            display: flex;
            flex-wrap: wrap;
        }

        .exhibitions-grid img {
            width: 100%;
            border-radius: 6px 6px 0 0;
        }
        
    }
 
    @media screen and (max-width: 925px) {
        
        .nav-content {
            padding-left: 0;
        }

        .logo-desktop {
            display: none;
        }
        .logo-mobile {
            display: block;
            padding: 0;
            margin-left: 0;
        }
        .introlongtext {
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 100%;
        }

        p.intro2 {
            max-width: 100%;
            margin: auto;
            text-align: center;
            padding: 0;
        }

        p.intro3 {
            max-width: 100%;
            margin: auto;
            text-align: center;
            padding: 20px 0;
        }
        .vertical-line {
            display: none;
        }

        .informational-containers {
            justify-content: center;
            gap: 30px;
        }

       .ticket-main {
            flex-direction: column;
        }

        .choose-day, .choose-tickets {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .get-involved-main {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .get-involved-main img {
            max-width: 100%;
            min-width: 240px;
            margin: 0;
            
        }

        .pal-con-1, .pal-con-2 {
            display: flex;
            flex-direction: column;
        }

        .pal-con-1 img, .pal-con-2 img {
            width: auto;
            min-width: auto;
        }

        .pal-con-1 p, .pal-con-2 p {
            text-align: center;
        }

        footer {
            height: auto;
        }
        .footer-content {
            display: flex;
            flex-direction: column;
        }

        .fright {
            width: 100vw;
            background-color: var(--bg-nav-green-blue);
            text-align: center;
            font-size: 16px;
        }
        .fleft img {
            width: 250px;
            height: 150px;
            align-self: center;
        }

        .fleft {
            padding: 0 0 10px 0;
            
        }
        .fleft p {
            text-align: center;
            width: auto;
        }

        .fright {
            padding: 0;
            text-align: center;
        }

        .fcenter {
            width: auto;
            padding: 20px;
            order: 3;
        }

    }

    @media screen and (max-width: 582px) {

        .ticket-button {
            width: 150px;
            padding: 10px;
            font-size: 0.8rem;
            top: 80px;
        }

        .fas.fa-bars {
            position: absolute;
            right: 12px;
            top: 17px;
            color: var(--text-white);
            display: block;
        }

        .opening-hours {
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            margin-right: 45px;
            margin-left: 0;
        }

        .opening-hours p {
            margin: 0;
            font-size: 0.7rem;
        }

        header {
            height: auto;
        }

        nav ul {
            display: none;
        }
       
        .exh-con img {
            max-width: 300px;
            height: 200px;
        }

        .explore-kids img, .explore-teachers img {
            width: 300px;
            height: 200px;
        }
      
        .exhibitions-grid h2 {
            font-size: 20px;
        }

        .number-type {
            flex-direction: column;
        }

        .number-type .type {
            padding: 0 20px 0 20px;
            margin-top: 5px;
        }
        
    }


    @media screen and (max-width: 328px) {

        header img {
            width: 250px;
        }

        .opening-hours {
            display: none;
        }

        img.smallest-screen {
            width: 200px;
            height: 100px;
            object-fit: cover;
        }

        .see-all-button, .reserve-button {
            width: 150px;
        }

        .schedule p{
            font-size: 14px;
        }
        .time, .days {
            margin-right: 10px;
            margin-left: 10px;
        }

        .exhibitions-grid h2 {
            letter-spacing: 0;
        }

        .enter-button {
            margin: auto;
        }
    }

/* Header img: Photo by Romain Tordo on Unsplash
background opacity https://stackoverflow.com/
CSS grids MDN
*/